.colour-box {
	color: white;
	margin: 1rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	border-radius: 15px;
}

.skills-card {
	width: 100%;
	margin-bottom: .5rem;
	border-radius: 15px!important;
}

.skills-title {
	font-weight: bold;
	font-size: large;
	margin-bottom: 0!important;
}

.skills-body {
	border-radius: 0 0 15px 15px!important;
}

