@keyframes drawLine {
	to {
		stroke-dashoffset: 0;
	}
}

svg {
	height: 100px;
	width: auto;
}

.vertical, .R, .long {
	stroke-dasharray: 979;
	stroke-dashoffset: 979;
	fill-opacity: 0;
	stroke: #000000;
	stroke-width: 4.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	animation: drawLine 1.25s linear forwards;
}

.vertical {
	animation-delay: 0.05s;
}

.long {
	animation-delay: 1.15s;
}

.R {
	animation-delay: 0.25s;
}

.expand {
	display: flex;
	flex-direction: column;
	flex-grow: 10;
}