
html, body, #root, .full-screen {
	height: 100%;
	width: 100%;
}

.full-screen {
	display: flex;
	flex-direction: column;
}

body {
	background-color: #151515!important;
	display: flex;
	flex-direction: column;
	font-family: "Courier New", monospace;
}

@media (max-width: 575px) {
	.nav-bar {
		justify-content: left;
		text-align: center;
	}

	.details-flex {
		flex-direction: column;
	}
}

@media (min-width: 576px) {
	.nav-bar {
		justify-content: left;
	}

	.nav-item {
		margin-top: auto!important;
	}

	.details-flex {
		display: flex;
		flex-direction: row;
	}
}

/* HEADER */
.nav {
	background-color: #D9D9D9;
	font-family: "Courier New", monospace;
}

.titleBar {
	justify-content: center;
	font-size: 0.9em;
}

a.nav-link {
	display: inline;
	padding: 0.5em;
	font-size: 0.9em;
	color: #403C3F;
}
/* END HEADER */

.home {
	padding: 1em;
}

.home-row {
	justify-content: left;
	color: #847d72;
	font-family: "Courier New", monospace;
}

.aquamarine {
	color: aquamarine;
}

.white {
	color: white;
}

.blue {
	color: blue;
}

div.man {
	padding-top: 1em;
	animation: revealText 0.25s ease-out 1600ms forwards; /* This time needs to match the amount of time in text-typing */
	visibility: hidden;
}

@keyframes revealText {
	to { visibility: visible }
}

div.man > p {
	padding-left: 1em;
}

div.man > div.mantitle {
	font-weight: bold;
	font-size: 1em;
	padding-top: 1em;
	display: block;
}

ul.no-bullets {
	list-style-type: none;
}

ul.no-bullets > li {
	margin-left: -2em;
}

.typing {
	display: flex;
}

.typing-effect {
	width: 15ch;
	animation: typing 1.15s steps(11), effect .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	padding-left: 1ch;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes effect {
	50% {
		border-color: transparent;
	}
}




.contact {
	padding-left: 1em;
}

.contact > h3 {
	font-weight: bold;
}

.contact > ul {
	padding-left: 2em;
	justify-content: left;
}


/* MAIN SECTIONS */
.portfolio-header {
	background-color: #cccccc;
	color: black;
	text-align: center!important;
	margin-bottom: 0;
}

.portfolio-header > h5 {
	margin-bottom: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.portfolio-button {
	width: 100%;
	background-color: #D9D9D9!important;
	color: #403C3F!important;
	margin-top: 0.5em;	
	font-weight: 600!important;
	font-size: small;
}

.portfolio-button:hover {
	box-shadow: 0 0 15px #403C3F; 
}

.bg-dark .portfolio-button:hover {
	box-shadow: 0 0 15px black;
}

.section-header {
	margin: 1rem .25rem 0 .25rem;
}

.bottom-row {
	margin-bottom: auto!important;
	margin-top: 1rem!important;
}


.card-portfolio {
	padding: 0;
	border-color: #6c757d!important;
	margin-bottom: 1rem!important;
	height: 100%!important;
	transition: box-shadow .3s;
	border-radius: 10px;
}

.card-portfolio:hover {
	box-shadow: 0 0 15px #403C3F; 
}

.details {
	margin: 1rem!important;
}

.details-text {
	margin-right: 1rem!important;
	padding-top: 1em!important;
	padding-bottom: 1em!important;
}

.details-text > p {
	font-size: small;
}

.details-image-col {
	padding-left: 0!important;
	padding-right: 0!important;
}

.details-image {
	/* height: 100%; */
	width: 100%;
	/* height: auto; */
}

.definition, .home {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 15px #403C3F; 
}

.login {
	padding: 0em;
}

.login-literal {
	font-family: monospace;
}

.project-skills {
	padding: 0em;
}

.project-skills li, .login li {
	display: inline-block;
	font-size: small;
	padding: 0.25em;
}

.project-skills li {
	font-weight: bold;
}


/* END MAIN SECTIONS */

  