@media (min-width: 575px) {
	html, body {
		height: 100%;
	}
	
	.footer {
		position: absolute;
  	    bottom: 0;
  	    width: 100%;
	}
}

body {
	background-color: #fbfbfb;
}

.max-height {
	height: 100vh;
}

/* HEADER */
.logo {
	background-color: black;	
}

.logo-text {
	color: #e6e6e6;
	text-align: right;
	font-size: small;
	font-weight: bold;
	font-style: italic;
	vertical-align: bottom;
	display: inline-block;
	padding-top: 3em;
	padding-bottom: 0.25em;
}

.strikethrough {
	text-decoration: line-through;
}
/* END HEADER */

/* MAIN SECTIONS */
@keyframes flowInBlue {
  0% {
    transform: scale(0.1);
    opacity: 0;
    background-color: white;
    
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: #17a2b8;
  }
}

@keyframes flowInGreen {
  0% {
    transform: scale(0.1);
    background-color: white;
  }
  100% {
    transform: scale(1);
    background-color: #28a745;
  }
}


@keyframes flowInRed {
  0% {
    transform: scale(0.1);
    opacity: 0;
    background-color: white;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: #dc3545;
  }
}

@keyframes flowInLinks {
	0% {
	    transform: scale(0.1);
	    opacity: 0;
	    background-color: white;
	}
	100% {
	    transform: scale(1);
	    opacity: 1;
	    background-color: #999999;
	}
}

.main {
	text-align: center;
}

.colour-box {
	color: white;
	margin: 1em;
	padding: 4em;
	text-align: center;
}

.first {
	animation:  flowInBlue 1s;
	animation-fill-mode: forwards;
    animation-delay: 0s;
}

.second {
	animation:  flowInGreen 1s;
	animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.third {
	animation:  flowInRed 1s;
	animation-fill-mode: forwards;
    animation-delay: 1s;
}

.fourth {
	animation:  flowInLinks 1s;
	animation-fill-mode: backwards;
    animation-delay: 1.5s;
}

.fifth {
	animation:  flowInLinks 1s;
	animation-fill-mode: backwards;
    animation-delay: 2s;
}

.link-box {
	color: white;
	background-color: #999999;
   	text-align: center;
   	margin-bottom: 1em;
   	padding-top: 1em;
   	padding-bottom: 1em;
}

.link-box a {
	text-decoration: none;
	color: white;
	display: block;
}

.filler {
	min-height: 10%;
}

.portfolio-button {
	width: 100%;
	background-color: #999999;
	color: #e6e6e6;
	margin-top: 0.5em;	
}

.definition {
	border: solid 1px black;
	background-color: lightgray;
	padding: 1em;
	margin-bottom: 0.5em;
}

.definition h1 {
	font-weight: bold;
}

form {
	border: 1px solid #dee2e6;
	background-color: #f2f2f2;
	padding: 1rem;
}

.project {
	padding-top: 1em;
	padding-bottom: 1em;
	border: 1em solid black;
}

.project-title {
	text-transform: uppercase;
	font-weight: bold;
}

.project-image {
    height: 300px;
    width: 80px;
    overflow: hidden;
}

.project-image img{
    min-height: 100%;
    min-width: 100%;
}

ul {
	padding: 0em;
}

.project-skills li {
	display: inline-block;
	font-size: small;
	padding: 0.25em;
}
/* END MAIN SECTIONS */


/* FOOTER */
.footer {
	background-color: black;
	justify-content: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

.footer-item {
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #e6e6e6;
	font-size: x-small;
}
/* END FOOTER */


