
@media (min-width: 575px) {
	html, body {
		height: 100%;
		width: 100%;
	}
}

html, body {
	height: 100%;
	width: 100%;
}


body {
	background-color: #323232;
	display: flex;
	flex-direction: column;
}



/* HEADER */
.logo {
	background-color: #323232;	
}

.logo-text {
	color: #d1d1d1;
	font-size: small;
	font-weight: bold;
	font-style: italic;
	vertical-align: bottom;
	display: inline-block;
}

.strikethrough {
	text-decoration: line-through;
}
/* END HEADER */

/* MAIN SECTIONS */
.main {
	margin-bottom: auto;
	padding-bottom: 1em;
}

@keyframes flowInGreyLight {
  0% {
    transform: scale(0.1);
    opacity: 0;
    background-color: #323232;
    
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: #28a745;
  }
}

@keyframes flowInGreyMedium {
  0% {
    transform: scale(0.1);
    background-color: #323232;
  }
  100% {
    transform: scale(1);
    background-color: #17a2b8;
  }
}


@keyframes flowInGreyDark {
  0% {
    transform: scale(0.1);
    opacity: 0;
    background-color: #323232;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: #dc3545;
  }
}

.colour-box {
	color: white;
	margin: 1em;
	padding: 4em;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
}

.first {
	animation:  flowInGreyLight 1s;
	animation-fill-mode: forwards;
    animation-delay: 0s;
}

.second {
	animation:  flowInGreyMedium 1s;
	animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.third {
	animation:  flowInGreyDark 1s;
	animation-fill-mode: forwards;
    animation-delay: 1s;
}

.portfolio-button {
	width: 100%;
	background-color: #cccccc;
	color: black;
	margin-top: 0.5em;	
	font-weight: 400;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.section-header {
	margin: 1rem .25rem 0 .25rem;
}

.skills-card {
	width: 100%;
	margin-bottom: .5rem;
	background-color: #cecfcf;
	border-color: #6c757d!important;
}

.definition-header {
	margin: 1rem 10rem;
}

.definition, .definition-text {
	background-color: #cecfcf;
	padding: 1em;
	margin: 0 0rem;
	border-radius: .25rem;
}

.definition {
	border-bottom: solid 3px #323232;
}

.definition-text {
	margin-bottom: 1.5rem;
}

.definition h1 {
	font-weight: bold;
	color: black;
}

h1 {
	color: #d1d1d1;
	margin: 
}

ul {
	padding: 0em;
}

.project-skills li {
	display: inline-block;
	font-size: small;
	padding: 0.25em;
	font-weight: bold;
}
/* END MAIN SECTIONS */


/* FOOTER */
.footer {
	background-color: #272727;
	justify-content: center;
	padding-bottom: 1em;
	padding-top: 1em;
	flex-shrink: 0;
}

.footer-item {
	text-align: center;
	text-decoration: none;
	color: #e6e6e6;
	font-size: x-small;
}

.footer a {
	text-decoration: none;
	color: #e6e6e6;
	font-size: x-small;
}
/* END FOOTER */


