/* HEADER */
.logo {
	background-color: black;	
}

.logo-text {
	color: white;
	text-align: right;
	font-size: small;
	font-weight: bold;
	font-style: italic;
	vertical-align: bottom;
	display: inline-block;
	padding-top: 3em;
	padding-bottom: 0.25em;
}

.strikethrough {
	text-decoration: line-through;
}
/* END HEADER */

/* CONTACT PAGE */
.contact-button {
	width: 100%;
	background-color: black;
	color: white;
}
/* END CONTACT PAGE */

/* FOOTER */
.footer {
	background-color: black;
	justify-content: center;
}

.footer-item {
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: white;
	font-size: x-small;
}
/* END FOOTER */


