/* Color Theme Swatches in Hex */
.Houses-1-hex { color: #403C3F; }
.Houses-2-hex { color: #5E728C; }
.Houses-3-hex { color: #8AA6BF; }
.Houses-4-hex { color: #F2F2F2; }
.Houses-5-hex { color: #D9D9D9; }

/* Color Theme Swatches in RGBA */
.Houses-1-rgba { color: rgba(63, 59, 63, 1); }
.Houses-2-rgba { color: rgba(93, 114, 140, 1); }
.Houses-3-rgba { color: rgba(137, 166, 191, 1); }
.Houses-4-rgba { color: rgba(242, 242, 242, 1); }
.Houses-5-rgba { color: rgba(216, 216, 216, 1); }

/* Color Theme Swatches in HSLA */
.Houses-1-hsla { color: hsla(309, 3, 24, 1); }
.Houses-2-hsla { color: hsla(213, 19, 45, 1); }
.Houses-3-hsla { color: hsla(208, 29, 64, 1); }
.Houses-4-hsla { color: hsla(0, 0, 95, 1); }
.Houses-5-hsla { color: hsla(0, 0, 85, 1); }
