
html, body, #root, .full-screen {
	height: 100%;
	width: 100%;
}

.full-screen {
	display: flex;
	flex-direction: column;
}

body {
	background-color: #F2F2F2!important;
	display: flex;
	flex-direction: column;
}


@media (max-width: 575px) {
	.logo {
		width: 75%;
	}

	.logo-text {
		color: #666666;
		font-size: large;
		font-weight: bold;
		font-style: italic;
		vertical-align: bottom;
		display: inline-block;
		padding-left: 0;
	}

	.nav-bar {
		justify-content: center;
		text-align: center;
	}

	.nav-tab {
		margin-top: 1rem!important;
		border-left: 1px solid #F2F2F2;
	}
}

@media (min-width: 576px) {
	.logo {
		width: 75%;
		height: 75%;
	}

	.logo-text {
		color: #666666;
		font-size: small;
		font-weight: bold;
		font-style: italic;
		vertical-align: bottom;
		display: inline-block;
		padding-left: 0;
	}

	.nav-bar {
		justify-content: end;
	}	

	.nav-tab {
		border-left: 1px solid #F2F2F2;
	}

	.nav-item {
		margin-top: auto!important;
	}
}

.logo-block {
	margin-right: auto!important;
	margin-left: 1rem!important;
}

/* HEADER */
.nav {
	background-color: #D9D9D9;	
}

.nav-link {
	color: #403C3F;
}

/* END HEADER */


/* MAIN SECTIONS */
.main {
	margin-bottom: auto;
	padding-bottom: 1em;
}

.portfolio-header {
	background-color: #cccccc;
	color: black;
	text-align: center!important;
	margin-bottom: 0;
}

.portfolio-header > h5 {
	margin-bottom: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.portfolio-button {
	width: 100%;
	background-color: #D9D9D9!important;
	color: #403C3F!important;
	margin-top: 0.5em;	
	font-weight: 600!important;
}

.portfolio-button:hover {
	box-shadow: 0 0 15px #403C3F; 
}

.bg-dark .portfolio-button:hover {
	box-shadow: 0 0 15px black;
}

.section-header {
	margin: 1rem .25rem 0 .25rem;
}

.bottom-row {
	margin-bottom: auto!important;
	margin-top: 1rem!important;
}

.bg-lightBlue {
	background-color: #8AA6BF;
	color: #F2F2F2;
}

.bg-mediumBlue {
	background-color: #5E728C;
	color: #F2F2F2;
}

.bg-darkBlue {
	background-color: #403C3F;
	color: #F2F2F2;
}

.card-buttons {
	margin-top: auto!important;
	padding: 1rem!important;
}

.card-portfolio {
	padding: 0;
	border-color: #6c757d!important;
	margin-bottom: 1rem!important;
	height: 100%!important;
	transition: box-shadow .3s;
	border-radius: 10px;
}

.card-portfolio:hover {
	box-shadow: 0 0 15px #403C3F; 
}

.details {
	margin: 1rem!important;
}

.details-text {
	margin-right: 1rem!important;
}

.details-image > img {
	/* height: 100%; */
	width: 100%;
}

.definition {
	background-color: white;
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0 0 15px #403C3F; 
}

h1 {
	color: #d1d1d1;
	margin: 0;
}

ul {
	padding: 0em;
}

.loginliteral {
	font-family: monospace;
}

.project-skills li, .login li {
	display: inline-block;
	font-size: small;
	padding: 0.25em;

}

.project-skills li {
	font-weight: bold;
}
/* END MAIN SECTIONS */


/* FOOTER */
.footer {
	background-color: #D9D9D9;
	justify-content: center;
	padding-bottom: 1em;
	padding-top: 1em;
	flex-shrink: 0;
	/* position: fixed;
	bottom: 0;  */
	width: 100wh;
	margin-left: 0!important;
	margin-right: 0!important;
	text-align: center;
	margin-top: auto!important;
}

.footer a {
	text-decoration: none;
	color: #403C3F;
	font-size: small;
}
/* END FOOTER */

  